*{text-transform: uppercase;}
/* Header start */
header{
    background-image: url('main_img.jpg');
    background-repeat: no-repeat;
    background-size: 96.8%;
    color: white;
}
.icon_logo{
    background-color: #58565691;
    margin-bottom: 20%;
}
.icon_logo hr{
    background-color: #3bbddc;
    width: 4.5%;
    padding: 0.7%;
    margin-left: 9.5%;
}
.icon_logo h3{
    font-weight: bold;
    margin-left: 10%;
    font-size: 300%;
    margin-top: -3%;
}
span{
    font-weight: bold;
    
}
.icon_logo h5{
    text-transform: uppercase;
    margin-left: 9%;
    margin-top: -3%;
}
/* list css */
.lang_nm{
    background-color:#adaaadaf;
}
.lang_nm ul li{
    list-style: square;
    font-weight: bold;
    text-align: right;
    direction: rtl;
    margin-right: 5%;
}
/* second header css */
.txt_learn{
    background-color: #cfbd57d2;
    padding: 6%;
}
.txt_learn h2{
    padding-left: 10%;
}
.txt_address{
    text-align: right;
    background-color: #45464ab6;
}
/* Section css start*/
/* Upper section*/
.txt_first{
    padding:3% 3% 3% 10%;
    background-color: white;
}
.txt_first h2{
    font-weight: bold;
    color: #dd5362;
}
.txt_first h5{
    font-weight: bold;
    color: #707070;
}
.txt_first p{color: #707070;}
.company_logo{
    background-color: #3bbddc;
    padding-top: 20%;
    padding-bottom: 20%;
    color: white;
}
.company_logo img{
    transform: rotate(-30deg);
}
.company_logo h4{
    font-weight: bold;
    padding-top: 10%;
    text-align: left;
}
.company_logo p{
    font-size: xx-small;
    margin-top: -5%;
    text-align: left;
}
/* our_comapny css */
.our_comapny{
    background-color: #f8faf9;
    padding: 5%;
}
.our_comapny h5{
    color: #dd5362;
    font-weight: bold;
}
.our_comapny h3,.our_comapny h6,.our_comapny span,.txt_second h5{
    color: #4d4d4d;
    font-weight: bold;
}
.our_comapny p{
    color: #b6b7b7;
}
.txt_second{
    background-color: white;
    text-align: right;
    padding: 5%;
}
.txt_second h4{
    color: #4d4d4d;
    font-weight: bold;
    margin-right: 15%;
}
.txt_second img{
    width: 40%;
}
.txt_second h2{
    margin-right: 20%;
    font-weight: bold;
    color: #3bbddc;
}
.txt_second p{
    color: #b6b7b7;
}
.footer_line{
    width: 57.5%;
    height: 10px;
    background-color: #dd5362;
}
.row container upper_section{padding:50px;}